.container {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}
.header {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.logo {
}

.spacer {
  flex: 1;
}

.link {
  font-weight: 500;
  font-size: 15px;
  color: #A67F56;
  padding: 12px 20px;
}