.container {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 0.5px solid #a67f56;
}
.header {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  > .loginButton {
    font-size: 15px;
    color: white;
    background-color: #a67f56;
    min-width: 156px;
    min-height: 38px;
    border-style: none;
    margin-left: 15px;
    cursor: pointer;

    &:focus-visible {
      outline: none;
    }
  }
}

.spacer {
  flex: 1;
}

.link {
  font-weight: 500;
  font-size: 15px;
  color: #a67f56;
  padding: 10px 20px;
  text-transform: uppercase;
}

.active {
  background-color: #a67f56;
  color: white;
}

.userMenuContainer {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    font-weight: 500;
    font-size: 15px;
  }

  > div {
    position: relative;

    .title {
      min-width: 120px;
      padding: 10px 16px;
      color: #a67f56;
      background-color: transparent;
      border-style: none;
      width: 100%;
    }

    .menus {
      position: absolute;
      top: 100%;
      width: 100%;

      > button {
        width: 100%;
        padding: 10px 0;
        color: #a67f56;
        background-color: white;
        border-radius: 0;
        border: 1px solid #a67f56;
      }
    }
  }

  .active {
    .title {
      background-color: #a67f56;
      color: white;
    }
  }
}
