.container {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  > .loginButton {
    font-size: 15px;
    color: white;
    background-color: #a67f56;
    min-width: 156px;
    min-height: 38px;
    border-style: none;
    margin-left: 15px;
    cursor: pointer;

    &:focus-visible {
      outline: none;
    }
  }
}

.spacer {
  flex: 1;
}

.link {
  font-weight: 500;
  font-size: 15px;
  color: #a67f56;
  padding: 12px 15px;
  text-transform: uppercase;
}

.hello {
  margin-left: 40px;
  font-weight: 500;
  font-size: 15px;
  color: #a67f56;
  background-color: transparent;
  border-style: none;
}
