.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner,
.imageContent,
.footerImg,
.why {
  width: 100%;
}
.imageContent {
  padding: 62px 95px;
  padding-bottom: 250px;
}
.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.oneImage {
  height: 16vw;
  width: 32%;
  position: relative;

  > img {
    object-fit: contain;
    z-index: -1;
  }

  > div {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    word-break: break-word;
    text-align: center;
    line-height: 1.2;
    font-size: 1.5vw;
    z-index: 1;
  }
}
.singleImage {
  width: 100%;
  height: 90px;
  position: relative;

  > img {
    object-fit: contain;
  }
}

.awardItemContainer {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #a67f56;

  > .logo4 {
    position: absolute;
    left: 29px;
  }

  > .title {
    color: white;
    font-weight: 700;
    font-size: 19px;
    line-height: 1.2;
  }

  > .spacer1 {
    flex: 1;
    min-width: 160px;
  }
  > .spacer {
    flex: 1;
  }
}
