.container {
  padding: 0;
  background-color: #ffff;

  .main {
    min-height: 100vh;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.title {
  font-family: Big Caslon FB;
  font-weight: 800;
  font-size: 60px;
  line-height: 113%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #a67f56;
}

.advisors {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1250px;
  margin-bottom: 100px;
}

.advisorContainer {
  margin-top: 95px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #16203c;
  color: white;

  .avatar {
    width: 330px;
    height: 100%;
    min-height: 330px;
    position: relative;
    background-color: white;

    > img {
      object-fit: contain;
    }
  }

  .background {
  }

  .body {
    flex: 1;
    height: 100%;
    z-index: 1;
    padding: 10px 25px;
    padding-left: 65px;
    white-space: pre-line;

    h3 {
      font-size: 40px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 13px;
    }

    label {
      font-size: 21px;
      font-weight: 700;
      margin: 0;
    }

    h4 {
      margin: 0;
      margin-top: 13px;
      font-size: 25px;
      font-weight: 700;
    }

    p {
      font-size: 15px;
      font-weight: 400;
      margin: 0;
      margin-top: 13px;
    }
  }

  &.rtl {
    @media (min-width: 800px) {
      flex-direction: row-reverse;
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    color: #6b7280;
    padding: 0 20px;
    margin-top: 30px;

    .background {
      display: none;
    }

    .avatar {
      width: 100%;
    }

    .body {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (max-width: 400px) {
    .avatar {
      > img {
        object-fit: cover;
      }
    }
  }
}

.footer {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;

  .footerBanner {
    margin: 0;
    min-height: unset;
    flex: 1;
  }
}
