.container {
  padding: 0;
  color: #a67f56;
  background-color: #f7f7f7;
}
.item {
  width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      min-height: 50px;
      padding: 15px;
      font-size: 15px;
      text-transform: uppercase;
      font-family: 'Lato';
      background-color: white;
      color: #a67f56;
      border: 0.5px solid #a67f56;
      border-top-style: none;
}
.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .bodyPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    padding-bottom: 100px;

    .detail {
      width: 100%;
      margin-top: 55px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
      }

      .selectNominateEntry {
        flex: 1;
        max-width: 400px;
        min-width: 250px;
      }

      .inputDetail {
        flex: 1.5;
        margin-left: 60px;
        @media (max-width: 800px) {
          margin-left: 0;
          padding: 0 20px;
          width: 100%;
        }
      }
    }
  }
}

.headerTitle {
  font-weight: 700;
  font-size: 55px;
  margin: 0;
  margin-top: 70px;
}
