.container {
  width: 100%;
  min-height: calc(100vh - 100px);
  // min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  color: #fac47e;
  position: relative;

  > .background {
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    > div {
      width: 100%;
      height: 100%;
    }
  }

  > h1 {
    font-family: "SVN-MADE Coachella";
    font-style: normal;
    font-weight: 100;
    font-size: 95px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #fac47e 0%, #a67f56 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    white-space: pre-line;
    margin: 0;
  }

  > .subTitle {
    max-width: 880px;
  }

  > div {
    font-size: 23px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.05em;
  }

  .scrollDown {
    position: absolute;
    bottom: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 9px;
    color: white;

    > div {
      margin-left: 8px;
    }
  }
}

.buttonLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.36px solid #fac47e;
  padding: 0 40px;
  height: 35px;
  background-color: white;
}
