.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;

  @media (max-width: 1100px) {
    padding: 0 20px;
  }

  .nominateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .root {
      background-color: #353a4e;
      color: white;
      border-style: none;
      border-bottom: 0.5px solid white;
      font-weight: 700;
    }

    .entry {
      background-color: white;
      color: #353a4e;
      border: 0.5px solid #353a4e;
      border-top-style: none;
    }

    .nameNominate {
      font-family: "Lato";
    }

    .active {
      font-weight: 700;
    }

    .item {
      width: 100%;
      display: flex;
      text-align: left;
      background-color: #353a4e;
      color: #ffff;
      padding: 0 15px;
      font-size: 15px;
      text-transform: uppercase;
      font-family: "Lato";
      padding: 0;

      >div {
        flex: 1;
        text-align: left;
      }
    }
  }
}

.listProject {
  list-style-type: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding: 0;
  text-transform: uppercase;
}

.listName {
  cursor: pointer;
  border-top: 0.5px solid #353a4e;
  padding: 10px 40px;
}

.listName:last-child {
  border-bottom: 0.5px solid #353a4e;
}

.wrapper {
  border-left: 0.5px solid #353a4e;
  border-right: 0.5px solid;
}

.listNominate {
  cursor: pointer;
  padding: 10px 15px;
  font-family: "Lato";
  font-style: normal;
  font-size: 18px;
  justify-content: space-between;
  /* identical to box height */
  background: #353a4e;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  border-top: 0.5px solid;
  color: #ffffff;
}

.listNameSelected {
  font-weight: 900;
}