.overviewContainer {
  margin-top: 20px;
  background-color: white;
  padding: 50px 80px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  @media (max-width: 1100px) {
    padding: 50px 40px;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  .statusOverviewContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 1100px) {
      align-items: center;
      margin-top: 20px;
      width: 100%;
    }

    >h2 {
      font-weight: 700;
      font-size: 35px;
      margin: 0;
    }

    .processStatusContainer {
      width: 100%;

      >h3 {
        margin-top: 13px;
        margin-bottom: 8px;
      }
    }

    .actions {
      margin-top: 28px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      >* {
        flex: 1;
        margin-left: 20px;
        min-height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        white-space: nowrap;

        &:first-of-type {
          margin-left: 0;
        }
      }

      @media (max-width: 1100px) {
        flex-direction: column;

        >* {
          margin-left: 0;
          width: 100%;
          margin-top: 10px;
        }
      }

      .buttonComplete {
        background-color: #353a4e;
        color: white;
      }

      .buttonDetail {
        border: 0.5px solid #353a4e;
      }
    }
  }
}

.overviewChart {
  height: 350px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 1100px) {
    width: 350px;
  }

  .center {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .percent {
      font-weight: 700;
      font-size: 85px;
    }

    .desc {
      margin-top: 10px;
      font-size: 15px;
      margin-bottom: 20px;
    }
  }
}