.registrationTimeline {
  background-color: #16203c;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 250px);
  padding: 50px 0;

  .timelineTitle {
    background: var(--primary-secondary-gradient, linear-gradient(63deg, #FFF 0%, #C0D0FF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    /* Typography/H1 Headline */
    font-family: Big Caslon FB;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 113%;

    /* 67.8px */
    @media (max-width: 800px) {
      font-size: 45px;
    }
  }

  >img {
    width: 85%;
  }

  header {
    background-color: #A67F56;
    padding: 16px 20px;
  }

  .card {
    border-radius: 0;
    margin-left: 15px;
  }

  .title {
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;

  }

  .subTitle {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 400;
    font-style: italic;
    line-height: 1.2;
    text-transform: capitalize;
  }

  .text {
    width: 100%;
    padding: 24px 20px;
    color: #353a4e;
  }
}