.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px 0;
  color: #785b3d;

  .label {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    text-transform: uppercase;
  }

  .tags {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .tag {
      margin-right: 40px;
      padding: 0 25px;
      min-height: 40px;
      border-radius: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-style: none;
      color: #a67f56;
      background-color: rgba(166, 127, 86, 0.1);
    }
  }
}
