.container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  white-space: pre-line;
  padding: 75px 0;
  color: #353a4e;

  @media (max-width: 1200px) {
    padding: 0 20px;
  }

  @media (max-width: 800px) {
    flex-direction: column;
    text-align: justify;
  }
}

.title {
  width: 35%;
  min-width: 250px;
  max-width: 500px;
  font-family: "SuisseWorks";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 100px;
  text-align: left;
  background: linear-gradient(90deg, #fac47e 0%, #353a4e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  @media (max-width: 800px) {
    border-top: 1px solid #e5e7eb;
    padding-top: 40px;
    margin-top: 30px;
    width: 100%;
    position: unset;
    margin-top: 50px;
  }
}

.contentContainer {
  margin-left: 55px;
  margin-top: 65px;
  flex: 1;
  overflow: hidden;

  @media (max-width: 800px) {
    max-width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }

  .wrapperConent {
    width: 100%;
    display: flex;
    flex-direction: row;

    .content {
      width: 100%;

      >h2 {
        text-align: left;
        font-weight: 500;
        font-size: 30px;
        margin: 0;
        margin-top: 25px;
      }

      >div {
        font-weight: 400;
        font-size: 15px;
        line-height: 1.2;
        margin-top: 15px;
      }

      >div:first-child,
      h2:first-of-type {
        margin-top: 0;
      }
    }
  }
}