.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  color: #a67f56;
  min-height: calc(100vh - 100px);
  padding: 0 50px;
  justify-content: space-around;

  @media (max-width: 900px) {
    padding: 0 20px;
  }

  .sliders {
    width: 100%;
    margin: 0;
    padding: 1px;

    .newsCard {
      min-height: 400px;
    }
  }

  >h1 {
    font-family: "SVN-MADE Coachella";
    font-weight: 100;
    font-size: 60px;
    margin-top: 50px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 30px;
    height: 30vh;
    min-height: 300px;
    max-height: 500px;

    &:first-of-type {
      margin-top: 0;
    }

    .item {
      flex: 1;
    }

    .item2 {
      flex: 2;
    }

    .item,
    .item2 {
      min-height: 300px;
      margin-left: 20px;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }

  .button {
    width: 50%;
    max-width: 300px;
    min-width: 100px;
    height: 40px;
    border: 1px solid #a67f56;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #a67f56;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
  }
}