.spacer {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  color: white;
  min-height: calc(100vh - 100px);
  z-index: 1;
  object-fit: cover;

  @media (max-width: 800px) {
    min-height: calc(100vh - 60px);
  }

  >.wrapper {
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  >.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .contentBox {
    margin: 93px 0;
    padding: 30px 39px;
    width: 100%;
    max-width: 524px;
    background-color: #17203c;
    white-space: pre-line;


    @media (max-width: 500px) {
      padding: 30px 15px;
    }

    >* {
      margin: 0 13px;
    }

    >h1 {
      font-size: 71px;
      font-weight: 700;
    }

    >h2 {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0.07em;
      color: var(--colors-white, #FFF);
      /* Title */
      font-family: Big Caslon FB;

      @media (max-width: 500px) {
        font-size: 36px;
      }
    }

    >h3 {
      font-weight: 700;
      font-size: 25px;
      line-height: 1.5;
    }

    >div {
      font-size: 15px;
      text-align: justify;
      line-height: 1.2;
    }
  }
}

.headerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  >img {
    margin-right: 8px;
  }

  >div {
    font-weight: 700;
    font-size: 15px;
    opacity: 0.5;
  }
}



.buttonLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.36px solid #ffffff;
  padding: 0 24px;
  height: 50px;

  >.wrapper {
    // margin: 0 24px;
    margin-right: 237px;
  }
}

.theAwardHomeBannerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/home/bg_the_award.jpg");
  background-size: cover;

  .wrapper {
    width: 85%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    >div {
      width: 100%;
      max-width: 800px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  }

  .title {
    font-size: 90px;
    margin: 0;
    text-transform: uppercase;
    background: linear-gradient(63deg, #FFF 0%, #C0D0FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    background-clip: text;
    font-family: Big Caslon FB;

    @media (max-width: 900px) {
      font-size: 100px;
    }

    @media (max-width: 800px) {
      font-size: 90px;
    }

    @media (max-width: 700px) {
      font-size: 80px;
    }

    @media (max-width: 600px) {
      font-size: 70px;
    }

    @media (max-width: 500px) {
      font-size: 55px;
    }

    @media (max-width: 400px) {
      font-size: 40px;
    }
  }

  .description {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.detailImage {
  object-fit: cover;
}

.className {
  border: 1px solid #ffff;
}