.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #353a4e;
  color: #fff;
}

.img {
  width: 100px;
  height: 100px;
}

.button {
  text-decoration: underline;
  color: #fff;
  font-style: italic;
}

.text {
  font-size: 25px;
  width: 550px;
  text-align: center;
}