.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .inputField {
    margin-top: 13px;

    &:first-of-type {
      margin-top: 0;
    }

    > *:last-child {
      min-height: 45px;
      background-color: white;
    }
  }

  > h3 {
    width: 100%;
    margin: 0;
    text-align: left;
    margin-top: 13px;
    font-weight: 700;
    font-size: 15px;
  }
}

.selectLocaleContainer {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .value {
    margin: 0 12px;
  }
}

.inputAboutField {
  margin-top: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .label {
    font-size: 15px;
  }

  .input {
    margin-top: 4px;
    padding: 15px;
    background: #ffffff;
    border: 0.5px solid #f3f3f3;
    min-height: 170px;
    width: 100%;
    resize: none;
    font-size: 15px;
  }

  .desc {
    margin-top: 4px;
    font-size: 10px;
    white-space: pre-line;
  }
}
