.container {
  padding: 0;
  background-color: #ffff;

  >h3 {
    color: #fbc581;
    ;
  }
}

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.banner,
.imageContent,
.footerImg,
.why {
  width: 100%;
}

.imageContent {
  padding: 62px 95px;
  padding-bottom: 250px;
}

.images {
  @media (max-width: 800px) {
    width: calc(100vw - 40px);
  }
}

.oneImage {
  height: 245px;
  position: relative;

  @media (max-width: 800px) {
    .badgeContent {
      font-size: 20px;
    }
  }

  >img {
    object-fit: cover;
    z-index: -1;
  }

  >.badgeContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    word-break: break-word;
    text-align: center;
    line-height: 113%;
    font-size: 20px;
    z-index: 1;
    text-transform: uppercase;
  }
}

.awardItemContainer {
  width: 100%;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #16203C;
  padding: 8px;

  >.logo4 {
    position: absolute;
    left: 29px;

    @media (max-width: 800px) {
      display: none;
    }
  }

  >.title {
    color: white;
    font-weight: 700;
    font-size: 19px;
    line-height: 1.2;
    text-align: left;
  }

  >.spacer1 {
    flex: 1;
    min-width: 160px;

    @media (max-width: 800px) {
      min-width: 0;
    }
  }

  >.spacer {
    flex: 1;
  }
}