.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #a67f56;
  color: #fff;
}
.img {
  width: 100px;
  height: 100px;
}
.button {
  text-decoration: underline;
  color: #fff;
  font-style: italic;
}
.text {
  font-size: 25px;
  width: 550px;
  text-align: center;
}
