.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #a67f56;
  padding-top: 20px;

  .logo {
    height: 25vw;
    max-height: 150px;
    position: relative;
    width: 55vw;
    min-width: 300px;
    max-width: 700px;

    >img {
      object-fit: contain;
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .highlight {
      display: flex;
      flex-direction: column;
      align-items: center;


      .title {
        font-weight: 300;
        font-size: 165px;

        @media (max-width: 1000px) {
          font-size: 150px;
        }

        @media (max-width: 900px) {
          font-size: 140px;
        }

        @media (max-width: 800px) {
          font-size: 130px;
        }

        @media (max-width: 700px) {
          font-size: 120px;
        }

        @media (max-width: 600px) {
          font-size: 110px;
        }

        @media (max-width: 500px) {
          font-size: 100px;
        }
      }

      .subTitle {
        margin-top: -15px;
        font-weight: 400;
        font-size: 29px;

      }
    }


  }

  .logoTop {
    margin-top: 30px;
    width: 30vw;
    min-width: 115px;
    max-width: 300px;
    display: none;
  }

  .content {
    width: 100%;
    margin-bottom: 30px;
    font-family: Lato;

    >p {
      text-align: center;
    }
  }

  @media (max-width: 600px) {
    .logoTop {
      display: block;
    }

    .header {
      flex-direction: column;
      align-items: center;

      // .highlight {
      //   .title {
      //     font-size: 100px;
      //   }

      //   .subTitle {
      //     font-size: 24px;
      //   }
      // }

    }
  }
}