.container {
  margin-top: 100px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;


  >div {
    width: 100%;
    max-width: 990px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .buttonTab {
    flex: 1;
    min-width: 260px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    background-color: #ffff;
  }

  .active {
    background-color: #353a4e;
    border-style: none;
    color: white;
  }

  .inactive {
    border: 0.5px solid #353a4e;
    color: #353a4e;
  }
}