.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;

  .nominateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .nameNominate {
      font-family: "Lato";
    }

    .root {
      background-color: #a67f56;
      color: white;
      border-style: none;
      border-bottom: 0.5px solid white;
      font-weight: 700;
    }

    .entry {
      background-color: white;
      color: #a67f56;
      border: 0.5px solid #a67f5680;
      border-top-style: none;
    }

    .active {
      font-weight: 700;
    }

    .item {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: left;
      min-height: 50px;
      padding: 15px 0px 15px 60px;
      font-size: 15px;
      text-transform: uppercase;

      @media (max-width: 800px) {
        &:first-child {
          padding: 15px 20px;
        }
      }

      > div {
        flex: 1;
        text-align: left;
      }
    }
  }
}
