.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;

  @media (max-width: 1100px) {
    padding: 0 20px;
  }

  .nominateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .root {
      background-color: #353a4e;
      color: white;
      border-style: none;
      border-bottom: 0.5px solid white;
      font-weight: 700;
    }

    .entry {
      background-color: white;
      color: #353a4e;
      border: 0.5px solid #353a4e;
      border-top-style: none;
    }

    .active {
      font-weight: 700;
    }

    .item {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      min-height: 50px;
      padding: 15px;
      font-size: 15px;
      text-transform: uppercase;
      text-align: left;

      >div {
        flex: 1;
        text-align: left;
      }
    }
  }
}