.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-word;

  .content {
    color: #353a4e;
    font-size: 20px;
    line-height: 1.3;
    width: 100%;
    text-align: justify;

    img {
      width: 100%;
    }
    iframe {
      width: 100vw;
      max-width: 1200px;
      height: 56.25vw;
      max-height: 680px;
    }
  }
}
