.container {
  width: 100%;
  min-width: 240px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: pre-line;
  padding: 75px 0;
  position: relative;

  .thumbnail {
    position: absolute;
    width: 95%;
    top: 0;
    height: 100%;

    >div {
      position: relative;
      width: 100%;
      height: 100%;
    }

    .title {

      color: black;
      font-weight: 300;
      font-size: 17px;

      text-transform: uppercase;

    }
  }

  .overview {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    >div {
      min-height: 200px;
      width: 100%;
      background-color: white;
      padding: 16px 25px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
    }

    .desc {
      margin-top: 12px;
      font-size: 11px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    .actions {
      margin-top: 12px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }
}

.hidden {
  opacity: 0;
}

.subTitle {
  text-align: center;
}

.textLanded {
  font-family: "LATO";
  font-weight: 400;
  font-size: 10px;
  text-transform: none;
}

.projectName {
  text-transform: uppercase;
}