.spacer {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-height: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  color: #16203C;
  min-height: calc(100vh - 100px);
  padding: 0;
  padding-top: 76px;

  @media (max-width: 800px) {
    min-height: calc(100vh - 60px);
  }

  >h1 {
    font-family: Big Caslon FB;
    font-weight: 100;
    font-size: 60px;
    margin: 0;
    text-align: center;
    color: #a67f56;
    width: 90%;
    padding-bottom: 20px;

    @media (max-width: 800px) {
      font-size: 40px;
    }
  }

  >h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.07em;
    font-family: Big Caslon FB;
    background: var(--primary-secondary-gradient, linear-gradient(63deg, #FFF 0%, #C0D0FF 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    text-transform: uppercase;
  }

  >h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.5;
  }

  >div {
    font-size: 15px;
    text-align: justify;
    line-height: 1.2;
  }

  .subTitle {
    margin-top: 10px;
    width: 70%;
    max-width: 935px;
    text-align: center;
    color: #a67f56;
    font-family: Lato;
    font-size: 19px;
  }

  >.table {
    margin-top: 50px;
    width: 100%;
    background-color: #16203C;
    display: flex;
    flex: 1;

    >div {
      position: relative;
      width: 100%;
    }
  }
}

.wrapperLink {
  display: flex;
  flex-direction: row;
}

.buttonLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.36px solid #353a4e;
  padding: 0 24px;
  height: 35px;

  >.wrapper {
    margin-right: 45px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #fac47e80;
}

.discoverTheWorth {
  background-color: #16203C;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;



  table,
  th,
  td {
    border: 1px solid #353a4e;
    border-collapse: collapse;
  }

  table {
    max-width: 1200px;
  }

  .dots {
    position: absolute;
    bottom: 20px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    .dot {
      width: 9px;
      height: 9px;
      border-radius: 5px;
      background-color: white;
      margin: 0 3px;
    }

    .active {
      opacity: 1;
    }

    .inactive {
      opacity: 0.5;
    }
  }

  .fullTable {
    @media (max-width: 1060px) {
      display: none;
    }
  }

  .swipeTable {
    display: none;

    @media (max-width: 1060px) {
      display: flex;
      max-width: 100vw;
    }
  }

  .tableCell {
    padding: 20px;

    background-color: #16203C;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

    >img {
      position: absolute;
    }

    .content {
      margin-left: 35px;

      h2 {
        margin-top: 0;
        text-align: left;
        font-weight: 700;
        font-size: 33px;
        font-family: Big Caslon FB;
        background: var(--primary-secondary-gradient, linear-gradient(63deg, #FFF 0%, #C0D0FF 100%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-style: normal;
        text-transform: uppercase;
      }

      p {
        font-family: Lato;
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }
}