.spacer {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-height: 80px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  color: #a67f56;
  min-height: calc(100vh - 100px);
  // min-height: 500px;
  padding: 0;
  padding-top: 76px;

  > h1 {
    font-family: "SVN-MADE Coachella";
    font-weight: 100;
    font-size: 60px;
    margin: 0;
  }
  > h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.07em;
  }

  > h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.5;
  }

  > div {
    font-size: 15px;
    text-align: justify;
    line-height: 1.2;
  }

  .subTitle {
    margin-top: 10px;
    width: 65%;
    max-width: 935px;
    text-align: center;
  }

  > .image {
    width: 100%;
    padding: 40px;
    background-color: #a67f56;
    display: flex;
    flex: 1;

    > div {
      position: relative;
      width: 100%;
    }
  }
}

.wrapperLink {
  display: flex;
  flex-direction: row;
}

.buttonLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.36px solid #a67f56;
  padding: 0 24px;
  height: 35px;

  > .wrapper {
    margin-right: 45px;
  }
}
