.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.banner,
.about,
.awardCategories,
.timeline,
.purpose,
.news,
.footerImg {
  width: 100%;
}

.overview {
  width: 60%;
  margin-bottom: 50px;
}

.aada_partners {
  width: 55%;
  margin-bottom: 40px;

  @media (max-width: 600px) {
    display: none;
  }
}

.aada_media {
  width: 40%;
  margin-bottom: 40px;

  @media (max-width: 600px) {
    display: none;
  }
}

.aada_partnerMb {
  width: 40%;

  @media (max-width: 600px) {
    display: block;
    padding-top: 40px;
  }
}

.aada_sponsorMb {
  width: 40%;

  @media (max-width: 600px) {
    display: block;
  }
}

.aada_partnersMb {
  width: 60%;
  display: none;
  padding-bottom: 50px;
  padding-top: 50px;

  @media (max-width: 600px) {
    display: block;
  }
}

.text {
  color: #353a4e;
  font-size: 40px;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  @media (max-width: 600px) {
    display: none;
  }
}

.title {
  color: var(--primary-primary, #A67F56);
  text-align: center;
  /* Typography/H1 Headline */
  font-family: Big Caslon FB;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 113%;

  @media (max-width: 600px) {
    display: none;
  }

  /* Typography/H1 Headline */
  font-size: 60px;
  font-family: SVN-MADE Coachella;
  font-style: normal;
  font-weight: 100;
  line-height: 113%;
}

.aada_vdbc {
  padding-right: 20px;

  @media (max-width: 600px) {}
}

.aada {
  @media (max-width: 600px) {
    display: none;
  }
}

.allLogoSponsor {

  @media (max-width: 600px) {
    padding-top: 50px;
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.allLogoPartners {
  padding-bottom: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;

  @media (max-width: 600px) {
    padding-top: 50px;
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .partnerLogo {
    align-content: center;
    padding-top: 10px;
  }
}