.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.banner, .about, .awardCategories, .timeline, .purpose, .news, .footerImg {
  width: 100%;
}
.overview {
  width: 60%;
  margin-bottom: 50px;
}
.aada_partners {
  width: 73%;
  margin-bottom: 40px;
  @media (max-width: 600px) {
    display: none;
  }
}
.aada_partnersMb {
  width: 100%;
  display: none;
  padding-bottom: 100px;
  @media (max-width: 600px) {
    display: block;
  }
}
.text {
  color: #A67F56;
  font-size: 40px;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  @media (max-width: 600px) {
    display: none;
  }
}
.title {
  color: #A67F56;
text-align: center;
@media (max-width: 600px) {
  display: none;
}
/* Typography/H1 Headline */
font-size: 60px;
font-family: SVN-MADE Coachella;
font-style: normal;
font-weight: 100;
line-height: 113%;
}
.aada_vdbc {
  padding-right:  20px;
  @media (max-width: 600px) {
    display: none;
  }
}
.aada {
  @media (max-width: 600px) {
    display: none;
  }
}