.selectInput {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #353a4e;
  width: 100%;

  .label {}

  .select {
    margin-top: 3px;
    min-height: 37px;
    color: #353a4e;
    width: 100%;
    padding: 0 15px;
    background-color: #ffff;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .wrapperRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    >div {
      flex: 1;
      margin-right: 9px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  .title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #353a4e;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .inputContainer {
    width: 100%;
    margin-top: 9px;
  }
}

.inputField {
  background-color: #ffff;
}