.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner, .theAward, .footerImg, .why {
  width: 100%;
}
.theAward {
  padding: 62px 95px;
  padding-bottom: 250px;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.oneImage {
  height: 16vw;
  width: 32%;
  position: relative;
  > img {
    object-fit: contain;
    z-index: -1;
  }

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    word-break: break-word;
    text-align: center;
    line-height: 113%;
    font-size: 1.5vw;
    z-index: 1;
  }
}
.video {
  width: 100%;
  height: 29vw;
  position: relative;

  > img {
    object-fit: contain;
  }
}
.singleImage {
  width: 100%;
  height: 52vw;
  position: relative;

  > img {
    object-fit: contain;
  }
}