.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner,
.theAward,
.footerImg,
.why {
  width: 100%;
}
.theAward {
  padding: 62px 95px;
  padding-bottom: 250px;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.oneImage {
  height: 16vw;
  width: 32%;
  position: relative;
  > img {
    object-fit: contain;
    z-index: -1;
  }

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    word-break: break-word;
    text-align: center;
    line-height: 113%;
    font-size: 1.5vw;
    z-index: 1;
  }
}
.video {
  width: 100%;
  height: 29vw;
  position: relative;

  > video {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.singleImage {
  width: 100%;
  height: 52vw;
  position: relative;

  > img {
    object-fit: contain;
  }
}

.topBanner {
  width: 100%;
  min-height: calc(100vh - 100px);
  // min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  color: #fac47e;

  > .background {
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    > div {
      width: 100%;
      height: 100%;
    }
  }

  > h1 {
    font-family: "SVN-MADE Coachella";
    font-style: normal;
    font-weight: 100;
    font-size: 125px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    background: linear-gradient(90deg, #fac47e 0%, #a67f56 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0;
  }

  > .subTitle {
    max-width: 880px;
  }

  > div {
    font-size: 23px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.05em;
  }

  .scrollDown {
    position: absolute;
    bottom: 17px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 9px;
    color: white;

    > div {
      margin-left: 8px;
    }
  }
}

.wrapperLink {
  display: flex;
  flex-direction: row;
}

.buttonLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.36px solid #fac47e;
  padding: 0 24px;
  height: 35px;

  > .wrapper {
    // margin: 0 24px;
    margin-right: 45px;
  }
}
