.container {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .actions {
    padding-top: 40px;
  }

}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .buttonContainer {
    cursor: pointer;
    color: black;
    margin-left: 50px;
  }

  .buttonContainerRight {
    cursor: pointer;
    color: black;
    margin-right: 50px;
  }

  @media (max-width: 800px) {
    margin-top: 20px;
  }

  >h1 {
    font-family: Big Caslon FB;
    font-weight: 100;
    font-size: 60px;
    text-align: center;
    margin: 0;
  }

  >h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.07em;
  }

  >h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.5;
  }

  >div {
    font-size: 17px;
    text-align: justify;
    line-height: 1.2;
  }



  >.awardCategories {
    width: 100%;
    flex: 1;
    position: relative;
  }
}

.wrapperLink {
  display: flex;
  flex-direction: row;
}



.sliders {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 40px;
  user-select: none;

  .activeDot {
    background-color: #353a4e;
    opacity: 1;
  }

  .sliderItemContainer {
    flex: 1;
    min-height: 400px;
    padding: 15px 30px;
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #353a4e;

    .sliderLogo {
      position: relative;
      width: 137px;
      height: 177px;
    }

    h2 {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Big Caslon FB;
      font-weight: 100;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
    }

    >div {
      line-height: 1.2;
      text-align: center;
      font-size: 10px;
    }
  }

  .active {
    max-width: 405px;
    min-height: 450px;
    background-color: #353a4e;
    border: 5px solid #ffffff;
    color: white;
    padding-left: 25px;
    padding-right: 25px;

    .sliderLogo {
      width: 150;
      height: 194;
    }

    h2 {
      font-size: 33px;
    }

    >div {
      font-weight: 100;
      font-size: 10px;
    }
  }

  .left {
    border-right: 0px none transparent;
  }

  .right {
    border-left: 0px none transparent;
  }
}

.mySwiper {
  width: 1000px;
  height: 495.71px;
}

.swiperImg {
  width: 1000px;
  height: 500px;
  object-fit: contain;
  object-position: center;
}

.videoWrapper {
  width: 100%;
  height: 100%;

  >iframe {
    width: 100%;
    height: 100%;
  }
}

.main {
  width: 100%;
  // min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    h1 {
      width: 100%;
      text-align: center;
      font-weight: 700;
      font-size: 41px;
      color: #785b3d;
      margin-top: 30px;
      margin-bottom: 0;
    }

    .row {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 350px;


      >* {
        margin-left: 10px;

        &:first-of-type {
          margin-left: 0;
        }
      }

      .item,
      .item2 {
        min-width: 250px;
      }

      .item {
        flex: 250;
        height: 438px;
      }

      .item2 {
        flex: 520;
        height: 438px;
      }
    }
  }
}