.container {
  padding: 0;
  width: 100%;
  background-color: #ffff;
}

.main {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    width: 100%;
    max-width: 1080px;
    text-align: justify;
    font-size: 17px;
    white-space: pre-line;
    margin-bottom: 100px;

    p {
      margin: 0;
    }

    h3 {
      font-family: Big Caslon FB;
      color: #a67f56;
      font-size: 32px;
      font-weight: bold;
      margin-top: 32px;
      margin-bottom: 16px;
    }

    .conditions {
      .conditionItem {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .index {
          min-width: 50px;
          text-align: right;
        }

        .conditionContent {
          margin-left: 10px;
          flex: 1;
        }
      }
    }

    .columns {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 30px;

      .column {
        flex: 1;

        .headerColumn {
          font-weight: bold;
        }
      }
    }
  }
}

.footer {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;

  .footerBanner {
    margin: 0;
    min-height: unset;
    flex: 1;
  }
}