.container {
  padding: 0;
  width: 100%;
  background-color: #f6f6f6;
}

.main {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    color: rgba(250, 196, 126, 1);

    h1 {
      width: 100%;
      text-align: center;
      color: rgba(166, 127, 86, 1);
      margin-top: 30px;
      margin-bottom: 0;
      font-family: Big Caslon FB;
      font-size: 85px;
      font-weight: 800;
      background: linear-gradient(90deg, #fac47e 0%, #a67f56 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .row {
      margin-top: 30px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      > * {
        margin-left: 20px;

        &:first-of-type {
          margin-left: 0;
        }
      }

      .item,
      .item2 {
        max-width: 250px;
      }

      .item {
        flex: 250;
        height: 438px;
      }

      .item2 {
        flex: 520;
        height: 438px;
      }
    }
  }
}

.text {
  text-align: center;
  color: #16203c;
}
