.selectLocaleContainer {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  @media (max-width: 800px) {
    margin-left: 0;
  }
  .values {
    text-align: justify;
  }
}
